<h3>Ready to play?</h3>
<ol>
  <li>Following the word "game" in the URL navigation bar, player 1 should insert his or her object, followed by player 2.<br>e.g. /game/rock/scissors.</br></li>
  <li>Press return and the winning result shall reveal itself.</li>
  <li>e.g. "/game/rock/scissors" ... player 1 wins! rock beats scissors. Take that snippers! Good luck next time player 2.</li>
</ol>
<h1>Good Luck!</h1>
