<p>Rock Paper Scissors is a game that takes place between two players. Each player will select either "rock", "paper" or "scissors" and a winner will be revealed depending on which object defeats the other.</p>
<h3>The rules of thumb are:</h3>
  <ol>
    <li>Rock beats scissors, it blunts them snippers.</li>
    <li>Paper beats rock, it wraps up rock and smothers him.</li>
    <li>Scissors beats paper, "snniipp", cuts right through him. Ouch!</li>
  </ol>
